<!doctype html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112608467-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-112608467-1');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Darin Barnes" %></title>
    <link rel="stylesheet" type="text/css" href="fonts/MyFontsWebfontsKit.css">
    <link href="https://fonts.googleapis.com/css?family=Barlow:100,300,500" rel="stylesheet">
    <%= stylesheet_link_tag "styles" %>
    <%= javascript_include_tag "jquery-3.2.1.min" %>
    <%= javascript_include_tag "site" %>
    <script src="js/scrollreveal.min.js"></script>
    <script>
      window.sr = ScrollReveal();
      if (sr.isSupported()) {
        document.documentElement.classList.add('sr');
      }
    </script>
    <style>
      .sr .fooReveal { visibility: hidden; }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
